defauld{
  color: #ff0000;
}

/* --------loginScreenColors-------- */
.inputs_button {
  color: #1C71AE;
  background-color: #EFF0FF;
}

/* --------chatScreenColors-------- */
.header {
  background-color: #EFF0FF;
}
.header_text {
  color: #497BA9;
  font: bold 24px roboto;
}
.line_color {
  color: #ACC0F3;
}

.msg_received {
  background-color: #c6caff;
  border-color: #1C71AE;
}
.msg_received .line_color {
  color: #7f99dd;
}
.msg_received .text {
  color: #154E82;
}

.msg_sended {
  background-color: #1C71AE;
}
.msg_sended .line_color {
  color: #FFFFFF;
}
.msg_sended .text {
  color: #FFFFFF;
}

/* --------MESSAGE INPUT BUTTON-------- */
.msg_input {
  background-color: #EFF0FF;
  border-color: #0C5386;
}
.msg_input .text {
  color: #68A0C9;
  font: normal 16px roboto;
}
.msg_button {
  background-color: #EFF0FF;
  border-color: #0C5386;
}
.msg_button .icon {
  color: #5B8CAE;
}

<View style={styles.container}>
  <Text style={styles.title}>START</Text>
  <StatusBar style="light" />
</View>